/* service styles*/
.chart-vertical-zero-line {
    -fx-stroke: transparent;
}

/* user styles */
.candle-body-bear {
    -fx-fill: green;
    -fx-stroke: green;
    -fx-stroke-width: 1;
}

.candle-body-bull {
    -fx-fill: red;
    -fx-stroke: green;
    -fx-stroke-width: 1;
}

.candle-line {
    -fx-stroke: green;
    -fx-stroke-width: 1;
}

.ma-7 {
    -fx-stroke: blue;
    -fx-stroke-width: 1;
}

.ma-14 {
    -fx-stroke: magenta;
    -fx-stroke-width: 2;
}

.major-axis-label {
 -fx-fill: blue;
}

.minor-axis-label {
 -fx-fill: red;
}

.line-blue {
    -fx-stroke: blue;
    -fx-stroke-width: 1;
}

.line-magenta {
    -fx-stroke: magenta;
    -fx-stroke-width: 2;
}

.line-red {
    -fx-stroke: red;
    -fx-stroke-width: 1;
}

 .line-green {
    -fx-stroke: green;
    -fx-stroke-width: 1;
}

.volume-bar {
    -fx-fill: linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%);
}
